<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to our Community</title>
    <style>
      body {
        font-family: "Roboto", sans-serif;
        line-height: 1.4;
      }

      div {
        margin: 1em;
        background-color: #dcf2f1;
        border-radius: 20px;
        padding: 2em;
      }

      h2,
      h3 {
        color: #454444;
      }

      h3 {
        margin-top: -0.4em;
        margin-bottom: -0.5em;
      }

      button {
        background-color: #022840;
        justify-content: center;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: medium;
        font-weight: bold;
        width: 100%;
        margin: 0.5em 0;
        box-shadow: inset 3px -3px 2px rgb(175, 201, 242);
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div>
      <p>Welcome, <%= user %>!</p>
      <p>
        And thanks for joining our global community! Here's a quick guide to
        help you get started.
      </p>

      <h2>Search</h2>

      <h3>Find the perfect place to stay</h3>
      <p>
        Whether you're planning a weekend getaway or a trip around the world,
        we'll help you find the place that's right for you.
      </p>

      <h2>Contact</h2>

      <h3>
        Get in touch with the administration of the hotels you are interested in
      </h3>
      <p>
        When you find a place you like, contact the staff to learn more. Feel
        free to message as many hotels as you like.
      </p>

      <h2>Book</h2>

      <h3>Make your reservation</h3>
      <p>
        Once you're ready to make a reservation, book the place, and then you
        are all set to pack your bags!
      </p>
      <br />

      <p>That's it! Why not give it a try now?</p>

      <a href="https://www.preet.com">
        <button>Search Now</button>
      </a>

      <p>Thanks, <br />The PREET Team</p>
    </div>
  </body>
</html>
